# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.ipynb_checkpoints
.env
.venv
bmvenv/
*.egg-info/
wandb/
mlruns/
env

# Data
data/cache/
data/raw/
data/processed/
*.csv
*.json
*.parquet

# Models
checkpoints/
outputs/
*.bin
*.pt
*.safetensors

# Notebooks
notebooks/.ipynb_checkpoints/

# OS
.DS_Store

CS445___Milestone_2.pdf
semval_2026_task6.pdf